* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background: #32CD32;
  height: 100vh;
  background-image: url("background.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile>img {
  width: 150px;
  height: 150px;
  border: 3px solid #008080;
  border-radius: 100%;
}

.profile>p {
  font-size: 1.6em;
  font-weight: 900;
  letter-spacing: 2px;
  color: #008080;
  text-transform: capitalize;
  text-align: center;
}

.link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.link>a {
  text-decoration: none;
  color: #008080;
  font-size: 24px;
  text-align: center;
  border: 3px solid #008080;
  background-color: #FFFFFF;
  border-radius: 7px;
  margin: 5px 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.link>a:hover {
  background-color: #FFFFFF;
}

.footer {
  text-align: center;
}

.footer>i {
  color: #008080;
  font-size: 20px;
}
